/* src/App.css */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f7f7f9;
  /* Light grey background */
  color: #333;
}

.app {
  text-align: center;
  padding: 20px;
}

header {
  background-color: #4a90e2;
  /* Soft blue */
  padding: 20px;
  color: white;
  margin-bottom: 20px;
}

h1 {
  margin: 0;
}

.task-input {
  margin: 20px;
}

.task-input input {
  padding: 8px;
  width: 200px;
  border: 1px solid #ddd;
  border-radius: 4px;
  margin-right: 8px;
}

.task-input button {
  padding: 8px 12px;
  background-color: #4a90e2;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.task-input button:hover {
  background-color: #357abd;
}

.todo-list {
  max-width: 32%;
  margin: 0 auto;
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
  
}

.todo-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border-bottom: 1px solid #eee;
}

.todo-item:last-child {
  border-bottom: none;
}

.todo-item.completed span {
  text-decoration: line-through;
  color: #999;
}

.todo-item .btn-1 {
  padding: 5px 8px;
  background-color: #40b52e;
  /* Red for delete button */
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-left: 90px;
}

.todo-item .btn-1:hover {
  background-color: #139443;
}
.todo-item .btn-2 {
  padding: 5px 8px;
  background-color: #f44343;
  /* Red for delete button */
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-left: 8px;
}



.todo-item .btn-2:hover {
  background-color: #ff0000;
}

